
output/*

src/test/java/io/github/dagri/GeospatialPDF4J/execute/*

src/test/java/io/github/dagri/GeospatialPDF4J/other/*

src/main/java/emergency

target

resources/preset_grossbrand_changed.xml

resources/preset_grossbrand_default.xml

resources/preset_presentation.xml

resources/preset_presentation2.xml

resources/box.u3d

resources/GPSCoordinateTest.csv

.project

.settings
